<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilosreportes.css' %}" />
</head>
<body>
    <div class="container">
        <header>

            <div class="division"> 
                <table>
                  <tr>
                    <th class="centered-cell"> 
                      <div> 
                        {% load static %}
                        <img id="icon-store" class="logo" src="{% static 'images/logo_negro.png' %} "/>
                      </div>
                    </th>
                    <th>
                      <div class="segundo">
                        <p>Sololá. Zona 1, 05 Av 10-038 Barrio el Carmen</p>
                        <p>Teléfono: 7762 3034</p>
                        <p>Correo electrónico lasurtidorabuenprecio@gmail.com</p>
                  
                      </div> 
                    </th>
                    
                    <th class=""> 
                      
                      <p>Fecha de Reporte</p>
                      <p class="fecha">{{datos.fecha}}</p>
                    </th>
                  </tr>
                </table>
                <h1 class="titulo">REGISTROS DE MARCAS</h1>
            </div>   
  
        </header>

        <div class="container my-3 contenedor-tabla">
            <table id="datosmarca" class="table table-striped">
          <thead>
            <tr>
                <th class="encabezado" >Id Marca</th>
                <th class="encabezado" >Nombre Marca</th>
                <th class="encabezado" >Descripcion</th>
                <th class="encabezado" >Estado</th>
            </tr>
          </thead>
          <tbody id="tablaBody" class="bg-">
          {% for marca in datos.data %}
          <tr data-id="{{ marca.id_marcas}}">
            <td class="centrar"> {{marca.id_marcas}} </td>
            <td class="centrar"> {{marca.nombre_marca}} </td>
            <td class="centrar"> {{marca.descripcion}} </td>
            <td class="centrar"> {{marca.estado|yesno:'Activo,Inactivo' }} </td>
            
          </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
    
    <footer>

      <div class="content">
        <p>Contenido de la página</p>
        <span class="page-count"></span>
      </div>
    </footer>
   
</body>

</html>