<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reporte</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilosreportes.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="division">
          <table>
            <tr>
              <th class="centered-cell">
                <div>
                  {% load static %}
                  <img id="icon-store" class="logo" src="{% static 'images/logo_negro.png' %} " />
                </div>
              </th>
              <th>
                <div class="segundo">
                  <p>Sololá. Zona 1, 05 Av 10-038 Barrio el Carmen</p>
                  <p>Teléfono: 7762 3034</p>
                  <p>Correo electrónico lasurtidorabuenprecio@gmail.com</p>
                </div>
              </th>


              <th class="">
                
                <h2>Fecha:  {{datos.0.fk_venta.fecha_venta}}</h2>
              </th>
            </tr>
          </table>
          <h1 class="titulo">REGISTROS DE VENTAS</h1>
        </div>
      </header>

      <div class="container my-3 contenedor-tabla">
        
        <table id="datosmarca" class="table table-striped">
          <thead>
            <tr>
              <th class="encabezado">Id Detalle</th>

              <th class="encabezado">Producto</th>
              <th class="encabezado">Cantidad Producto</th>
              <th class="encabezado">Precio Unitario</th>
              <th class="encabezado">Descuento</th>
            </tr>
          </thead>
          <tbody id="tablaBody" class="bg-">
            {% for venta in datos %}
              <tr data-id="{{ ventas.id_detalle_venta }}">
                <td class="centrar">{{ venta.fk_venta }}</td>
                <td class="centrar">{{ venta.fk_id_producto1 }}</td>
                <td class="centrar">{{ venta.cantidad_producto }}</td>
                <td class="centrar">{{ venta.precio_unitario }}</td>
                <td class="centrar">{{ venta.descuento }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <td class="centrar">{{ venta.fecha_venta }}</td>
      </div>
      <h1>Total de Venta: {{ datos.0.fk_venta.total }}</h1>
    </div>

    <footer></footer>
  </body>
</html>
