{%extends './base.html'%}
{%block title%}Inicio{%endblock%}

{% block link %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/inicio_app/info.css' %}">
<!--css-->
{%endblock%}

{%block body%}
   <section class="abc">
    <div class="fondo">
    <h1 class="fadeIn">¿Quienes somos?</h1>

    <h2  class="fadeIn">HISTORIA</h2>
    <p  class="fadeIn">
        La bendición, una tienda fundada en el año 2008 por el comerciante Gabriel Ajú, ha experimentado importantes transformaciones organizacionales a lo largo de la historia. A finales del año 2015, se llevo a cabo una reestructuración que resultó en un cambio significativo para el negocio. A partir de ese momento, la tienda modificó su nombre registrado en la Superintendencia de Administración Tributaria (SAT) y pasó a llamarse "La Surtidora El Buen Precio". El propietario actual es el Lic. Edgar Alfredo Ajú, quien asume el rol administrativo de manera activa.

    </p>

    <h2 class="fadeIn">MISION</h2>
    <p class="fadeIn">Somos una tienda  que impulsa el mercado y promueve los productos de consumo diario de calidad, acorde a las necesidades de nuestros clientes.</p>

    <h2 class="fadeIn">VISION</h2>
    <p class="fadeIn">Ser un comercio sustentable y competitiva en el departamento de Sololá que satisfaga las expectativas del consumidor a través de personales preparado y calificado para brindar un servicio altamente profesional.</p>
    
    <h2 class="fadeIn">VALORES</h2>
    <p class="fadeIn">
        Credivilidad, confianza, compromiso y trabajo en equipo.
    </p>
</div>
</section>
{%endblock%}



